Building
--------

To build the Oracle Coherence Hibernate Integration project you need to have the following software installed:

* Java SE Development Kit 8

  Available from: [Java SE Development Kit 8 Downloads](https://www.oracle.com/java/technologies/javase/javase-jdk8-downloads.html)

* [Apache Maven](http://maven.apache.org/) Version 3.6.0+

  Available here: [Apache Maven Downloads](http://maven.apache.org/download.cgi)

* The [source code](source-code.html).

Once you have these installed, building the entire source tree is as simple as executing the following shell command
(from the root of the source directory):

    $ mvn clean install

By default the project will build against the latest version of the open source
[Coherence Community Edition](https://coherence.community/) hosted on
[GitHub](https://github.com/oracle/coherence).