Examples
--------

For examples of the usage of the Coherence / Hibernate integration points implemented by the modules of the
Oracle Coherence Hibernate Integration project, please consult the functional tests included within the
[source code](source-code.html) of the project.

The functional tests for a given integration point are contained in each of the modules
pertaining to a specific Hibernate version name `CoherenceHibernateSecondLevelCacheFunctionalTest.java`.

In order to run the tests, you must [build and install](building.html) the Oracle Coherence Hibernate Integration
project locally.
