Getting Help - Using the Forums
-------------------------------

The Message Forum for the Oracle Coherence Hibernate Integration project is the best place to start
asking questions, should you need to.   This forum is hosted on java.net and
is typically monitored by the project community.

It can be found here: [https://java.net/projects/cohhib/forums/message-forum](https://java.net/projects/cohhib/forums/message-forum)

To post in the message forum you will need to "join" the Oracle Coherence Hibernate Integration project on java.net,
which will require you to have an account on java.net.  To read the message forum, no special memberships or
accounts are required.
