Getting Help - Using the Forums
-------------------------------

The Message Forum for the Coherence Hibernate Integration project are the best place to start
asking questions, should you need to.   These forums are hosted on java.net and
are typically monitored by the project community.

They can be found here: [https://java.net/projects/cohhib/forums/message-forum](https://java.net/projects/cohhib/forums/message-forum)

To post in the discussion forums you will need to "join" the Coherence Hibernate Integration project on java.net,
which will require you to have an account on java.net.  To read the discussion forums, no special memberships or
accounts are required.
