Getting Help - Slack + Stackoverflow
------------------------------------

In case you have questions or if you run into issue using the Oracle Coherence
Hibernate Integration project, please feel free to reach to us either via:

* [Stackoverflow](https://stackoverflow.com/tags/oracle-coherence) or
* [Slack](https://join.slack.com/t/oraclecoherence/shared_invite/zt-9ufv220y-Leudk0o5ntgNV0xraa8DNw).

Both support channels are monitored by the project community.

