Coherence Hibernate Integration
===============================

**Version: ${project.version} built on ${timestamp}**

The Coherence Hibernate Integration project encompasses the code of integration points between Hibernate and Oracle
Coherence, currently consisting of a Coherence-based implementation of the Hibernate second-level cache SPI, and a
Hibernate-based implementation of the Coherence CacheStore SPI. The CacheStore implementation is pre-existing and merely
moved from the Coherence product codebase, while the second-level cache implementation represents new development
targeted to the redesigned SPI released in Hibernate 3.3.

Usage
-----

Instructions on how to configure and use the integration points between Hibernate and Oracle Coherence, including
coverage of Maven dependency configuration, can be found under the [usage](usage.html) section.

Building the Source
-------------------

See the [source code](source-code.html) and [building](building.html) sections for instructions on obtaining and
compiling the source.

Contributions
-------------

If you are interested in making contributions to the Oracle Coherence Hibernate Integration project, including defect
fixes, documentation, new classes/interfaces/methods/packages or tests, you should read the section on
[Contributing to the Oracle Coherence Hibernate Integration](contributions.html).
