Issue Tracking
--------------

The [Issue Tracking][ISSUES] system for the Coherence Hibernate Integration project is hosted by [GitHub][GITHUB].

It can be found here: [https://github.com/coherence-community/coherence-hibernate/issues][ISSUES]

<h4>Raising Issues:</h4>

To raise an issue representing a defect or feature request in the issue tracking
system you need to have a [GitHub][GITHUB] account.
<h4>Modifying and Closing Issues:</h4>

To resolve and close issues with the issue tracking system you will
need to be a [contributor](contributions.html).

[ISSUES]: https://github.com/coherence-community/coherence-hibernate/issues "Issue Tracking"
[GITHUB]: http://github.com "github.com"