Upgrading from Previous Releases
--------------------------------

<h4>Upgrading from Hibernate integration in Oracle Coherence</h4>

With Coherence Hibernate `2.0.x` the support for several Hibernate versions was expanded.
Part of this effort was the refactoring of the Coherence Hibernate Maven modules.

Thus, choose the version that matches the Hibernate version you are using.

If you want to use the Coherence-based Hibernate second-level cache SPI implementation,
follow the respective [usage instructions](secondlevelcache/index.html).

If you want to adopt the Coherence Hibernate CacheStore support, please refer to
its [usage instructions](cachestore/index.html).